@charset "UTF-8";

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

header > h1 {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
}

.flex > div > p {
    text-align: center;
}

img {
    max-width: 99%; /* Expansão de 100% da largura/o seu máximo */
   
}

.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap; /* Faz os itens ficarem um embaixo, em tela pequenas */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

label {
    color: white;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* FLEXBOX 1 */

.flex {
    display: flex; /* Um ao lado do outro */
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o container */
}

.flex div {
    flex: 1 1 200px; /* Limita o tamanho minimo da imagem */ 
    margin: 10px;

    color: white;
    background-color: #041651;
}